div{
    stroke: red;
    stroke-width: 5px;
}

body{
    width: 100%;
    padding: 30px;
    background-image: url("../Fundo.png");
    justify-content: center;
}

* {
    margin: 0;
    box-sizing: border-box;
}

header{
    height: fit-content;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-size: 50px;
    display: inline-block;
    color: white;
  }
  
  .abas ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10%;
  }

  .abas a{
    text-decoration: none;
    color: white;
  }

  .abas a:hover{
    text-decoration: underline;
  }

  .abas{
    width: 100%;
  }

