#fundo {
  background-image: url("../assets/Home 3.0.png");
  background-size: cover;
  height: 109vh;
}

#resto{
  background-color: #160C41;
}

#carrossel{
  height: 60px;
}

.icone-contato{
  color: #ffffff;
}

.wp{
  background-color: #9A2B8B;
  border-radius: 20px;
  border: solid 1px #ffffff;
}

.gx{
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
  height: 100%;
  overflow: hidden;
}

.aldrich{
  font-family: "Aldrich", sans-serif;
}

.tektur{
  font-family: "Tektur", sans-serif;
}

.karla{
  font-family: "Karla", sans-serif;
}

.rajdhani{
  font-family: "Rajdhani", sans-serif;
}

.zzz{
  height: 400px;
  display: none;
}

.sss{
  display: none;
}

.car{
  height: 50px;
}

.im{
  height: 100%;
}

.fff {
  letter-spacing: 2px;
}

.f4 {
  padding-right: 100px;
}


@media screen and (min-width: 992px){
  .sss{
    display: block;
  }

  .xxx{
    display: none;
  }
}

@media screen and (max-width: 339px) {
  a i {
    font-size: 30px;
  }

  .ff {
    letter-spacing: 1.5px;
    font-size: 10px;
  }
}


@media screen and (min-width: 340px) {
  a i {
    font-size: 30px;
  }

  .ff {
    letter-spacing: 1.5px;
    font-size: 12px;
  }
}

@media screen and (min-width: 576px) {
  .fff {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  a i {
    font-size: 40px;
  }

  .ff {
    letter-spacing: 1.5px;
    font-size: 15px;
  }
}